body{
    text-align: center;
    background-color: rgb(247, 240, 240);
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.btn{
    background-color: aquamarine;    
    height: 45px;
    width: 120px;
    margin-bottom: 20px;
    margin-top: 70px;
}
.btn:hover{
        background-color: bisque;
        font-family: cursive;
        font-weight: 100;

    }

#box{
    background: linear-gradient(green,yellow);
    width: 400px;
    height: 300px;

    margin:auto;
    }

#quote {
        position: absolute;
        width: 400px;
        height: 300px;
        margin-top: 120px;
}

    
#box:hover{
    background: linear-gradient(yellow,green);
}
#head:hover{
    color: rgb(187, 108, 108);
    font-family: cursive;
    
}
